*{
    font-size: 14px;
}

.tiny {
    display: none;
}

/* ---------------------------------------- Sidebar animation ---------- */

#navBtn{
    display: inline;
    position: absolute;
    top: 25px;
    right: 30px;
    left: auto;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 1000;
}

#navBtn.active {
    left: auto;
}

#navWrapper{
    display: block;
    height: 100vh;
    width: 100vw;
    left: -101vw;
    text-align: center;
    position: relative;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#navWrapper.active{
    left: 0px;
}


/* ---------------------------------------- Hambuger ---------- */

#hamburger{
    width: 24px;
    height: 16px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/* ---------------------------------------- Hamburger animation ----------  */

#hamburger span:nth-child(1) {
    top: 2px;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
    top: 8px;
}

#hamburger span:nth-child(4) {
    top: 14px;
}

#hamburger.open {
    width: 18px;
}

#hamburger.open span{
    height: 2px;
}

#hamburger.open span:nth-child(1) {
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


/* ---------------------------------------- Sidebar styling ---------- */

.nav {
    padding-top: 5vh;
}

/* ---------------------------------------- Bio ---------- */

.bio {
    display: table;
    width: 100vw;
    height: 25vh;
    max-height:  100px;
}

.displayPic{
    padding-left: 10vw;
    vertical-align:middle;
    display:table-cell;
    min-width: 75px;
    max-width: 150px;

}

.displayPic img{
    vertical-align:middle;
    min-width: 75px;
    max-width: 150px;
}

.bioBody {
    width: 60vw;
    padding-left: 6vw;
    padding-right: 10vw;
    vertical-align:middle;
    display:table-cell;
    text-align:left;
}

.headline {
    flex:auto;
    font-size: 1.2em;
}

.blurb{
}

/* ---------------------------------------- Contact ---------- */


.contactWrapper {
    margin-top: 2em;
}

.contactMe{
    padding: 8px 8px;
    border-radius: 2px;
    font-weight: 400;
}

.contactMe:hover{
}

.contactMe:active{
}

/* ---------------------------------------- Links ---------- */


.links {
    margin-top: 8vh;
}

.links ul li{
    display: inline-block;
}

.links ul li a div{
    border-radius: 2px;
    color: white;
    background-color: #003758;
    padding: .6em 1em;
    margin: 0 15px;
}

/* ---------------------------------------- Footer ---------- */

.footer {
    margin-top: 6vh;
    right: 0;
    left: 0;
    -webkit-transition: 0s linear;
    -moz-transition: 0s linear;
    -o-transition: 0s linear;
    transition: 0s linear;
}

.footer ul li{
    display: inline;
    text-decoration: none;
    margin-left: .2em;
    margin-right: .2em;
}

.socialNav li{
    display: inline;
}

.socialNav li a{
    margin-top: 2vh;
    font-size: 1.2em;
}
